# Core functionality - changes here should be rare!
/src/app.py                   @UgloBuglo
/src/backend/database.py      @UgloBuglo
/src/backend/routers/auth.py  @UgloBuglo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @UgloBuglo
